design-provision-monitor-aws-infras/terraform/Exercise_1/.terraform.lock.hcl
design-provision-monitor-aws-infras/terraform/Exercise_1/terraform.tfstate
design-provision-monitor-aws-infras/terraform/Exercise_1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/windows_amd64/terraform-provider-aws_v5.26.0_x5.exe
design-provision-monitor-aws-infras/terraform/Exercise_1/terraform.tfstate.backup
design-provision-monitor-aws-infras/terraform/Exercise_2/.terraform.lock.hcl
design-provision-monitor-aws-infras/terraform/Exercise_2/.terraform/providers/registry.terraform.io/hashicorp/archive/2.4.0/windows_amd64/terraform-provider-archive_v2.4.0_x5.exe
design-provision-monitor-aws-infras/terraform/Exercise_2/.terraform/providers/registry.terraform.io/hashicorp/aws/5.26.0/windows_amd64/terraform-provider-aws_v5.26.0_x5.exe
design-provision-monitor-aws-infras/terraform/Exercise_2/.terraform.tfstate.lock.info
design-provision-monitor-aws-infras/terraform/Exercise_2/lambda.zip
design-provision-monitor-aws-infras/terraform/Exercise_2/terraform.tfstate
design-provision-monitor-aws-infras/terraform/Exercise_2/terraform.tfstate.backup
